extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/eventcards', method='GET')
      .row.col-lg-10.col-md-10.col-sm-12
        .col.col-12.mt-3
          h1.main-title
            | Events
      .row.col-lg-12.col-md-12.col-sm-12.mx-auto
          each eventcard in eventcards
            .card.col-lg-4.col-md-6.col-sm-12.mx-auto.m-3
              h1
                a.title(href=`/eventcards/${eventcard.id}`)= eventcard.title
              .card-body
                  p #{eventcard.date} / #{eventcard.start_time} ~ #{eventcard.finish_time}
                  |
                  p #{eventcard.locate}
                  |
                  p updated on : #{moment(eventcard.createdAt).format('YYYY-MM-DD')}

      +paginate(eventcards, '/eventcards', query)

