extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/eventcards', method='GET')
      .row.col-lg-10.col-md-10.col-sm-12
        .col.col-12.mt-3
          h1.main-title
            | Events
      .row.mx-auto
        .card
          each eventcard in eventcards
            h1
              a.title(href=`/eventcards/${eventcard.id}`)= eventcard.title
            .card-body
              .col-sm
                p #{eventcard.date} / #{eventcard.start_time} ~ #{eventcard.finish_time}
              .col-sm
                p #{eventcard.locate}
              .col-sm
                p updated on : #{moment(eventcard.createdAt).format('YYYY-MM-DD')}
              
            //- .card.mb-4
            //-   //img.card-img-top.mx-auto(src=eventcard.img, alt='Card image cap')
            //-   h1.ml-3
            //-     a.title(href=`/eventcards/${eventcard.id}`)= eventcard.title
            //-   .card-body
                
            //-     p #{eventcard.date} / #{eventcard.start_time} ~ #{eventcard.finish_time}
            //-     p #{eventcard.locate}

      +paginate(eventcards, '/eventcards', query)

