extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/eventcards', method='GET')
      .row.col-lg-10.col-md-10.col-sm-12
        .col.col-12
          i.fa.fa-search
          input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
        .col.col-12
          h1.main-title
            | Events
      .row.col-12.mx-auto
        each eventcard in eventcards
          .col.col-lg-4.col-md-6.col-sm-12.mx-auto
            .card.mb-4
              img.card-img-top.mx-auto(src=eventcard.img, alt='Card image cap')
              h1.ml-3
                a.title(href=`/eventcards/${eventcard.id}`)= eventcard.title
              .card-body
                
                p #{eventcard.date} / #{eventcard.start_time} ~ #{eventcard.finish_time}
                p By #{eventcard.author.name}
                  //include _question

      +paginate(eventcards, '/eventcards', query)

